<h1>Список тваринок</h1>

<%= "<p class='no-posts'>Тут поки що немає тварин. Додайте свого друга першим!</p>".html_safe if @posts_count == 0 %>

<div class="cards">
    <% @posts.each do |post| %>
        <div class="card">
            <%= image_tag(post.photo, :class => "thumbnail") %>
            <div class="card-footer">
                <h3 class="card-heading"><%= post.name %></h2>
                <p class="card-body"><%= post.species %></p>
            </div>
        </div>
    <% end %>
</div>

<ul class="pager">
    <li class="previous <%= @page == 0 ? 'disabled' : '' %>">
        <%= link_to_if @page > 0, "<< Попередня", posts_path(page: @page - 1) %>
    </li>

    <li class="next <%= @page == @max_page ? 'disabled' : '' %>">
        <%= link_to_if @page < @max_page, "Наступна >>", posts_path(page: @page + 1)%>
    </li>
</ul>



